<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ResimDuzenleme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ResimDuzenleme.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="localhost_misigo_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.2.38,7575;user id=sa;password=1524;initial catalog=misigo;Persist Security Info=true" />
    <add name="localhost_misigo_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=192.168.2.38,7575;user id=;password=;initial catalog=misigo;Persist Security Info=true" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <ResimDuzenleme.Properties.Settings>
      <setting name="SunucuAdi" serializeAs="String">
        <value />
      </setting>
      <setting name="KullaniciAdi" serializeAs="String">
        <value />
      </setting>
      <setting name="Sifre" serializeAs="String">
        <value />
      </setting>
      <setting name="StoredProcedureAdi" serializeAs="String">
        <value />
      </setting>
      <setting name="database" serializeAs="String">
        <value />
      </setting>
      <setting name="Spname" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="txtApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="txtApiSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="TxtSatici" serializeAs="String">
        <value />
      </setting>
      <setting name="txtEntegrator" serializeAs="String">
        <value />
      </setting>
      <setting name="txtOfis" serializeAs="String">
        <value />
      </setting>
      <setting name="txtMagaza" serializeAs="String">
        <value />
      </setting>
      <setting name="txtDepo" serializeAs="String">
        <value />
      </setting>
      <setting name="txtPos" serializeAs="String">
        <value />
      </setting>
      <setting name="txtBarkodTipi" serializeAs="String">
        <value />
      </setting>
      <setting name="txtlot" serializeAs="String">
        <value />
      </setting>
      <setting name="txtWsYetki" serializeAs="String">
        <value />
      </setting>
      <setting name="txtSiteAdi" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptedUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptedPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StoreCode" serializeAs="String">
        <value />
      </setting>
      <setting name="DEUser" serializeAs="String">
        <value />
      </setting>
      <setting name="DESifre" serializeAs="String">
        <value />
      </setting>
      <setting name="Surec" serializeAs="String">
        <value />
      </setting>
    </ResimDuzenleme.Properties.Settings>
    <ResimDuzenleme.Settings1>
      <setting name="SunucuAdi" serializeAs="String">
        <value />
      </setting>
      <setting name="KullaniciAdi" serializeAs="String">
        <value />
      </setting>
      <setting name="Sifre" serializeAs="String">
        <value />
      </setting>
      <setting name="StoredProcedureAdi" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value />
      </setting>
      <setting name="Spname" serializeAs="String">
        <value />
      </setting>
      <setting name="txtApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="txtApiSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="TxtSatici" serializeAs="String">
        <value />
      </setting>
      <setting name="txtEntegrator" serializeAs="String">
        <value />
      </setting>
      <setting name="txtOfis" serializeAs="String">
        <value />
      </setting>
      <setting name="txtMagaza" serializeAs="String">
        <value />
      </setting>
      <setting name="txtDepo" serializeAs="String">
        <value />
      </setting>
      <setting name="txtPos" serializeAs="String">
        <value />
      </setting>
      <setting name="txtBarkodTipi" serializeAs="String">
        <value />
      </setting>
      <setting name="txtLot" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptedUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptedPassword" serializeAs="String">
        <value />
      </setting>
    </ResimDuzenleme.Settings1>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.0" newVersion="1.61.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.0" newVersion="1.61.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.61.0.0" newVersion="1.61.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.12.0.0" newVersion="9.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.32.0" newVersion="3.1.32.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuthenticationPortBinding" maxReceivedMessageSize="999999999" messageEncoding="Mtom">
          <security mode="Transport" />
        </binding>
        <binding name="EInvoiceWSPortBinding" maxReceivedMessageSize="999999999">
          <security mode="Transport" />
        </binding>
        <binding name="EFaturaArchivePortBinding" maxReceivedMessageSize="999999999">
          <security mode="Transport" />
        </binding>
        <binding name="EIrsaliyeServicePortBinding" maxReceivedMessageSize="999999999" messageEncoding="Mtom">
          <security mode="Transport" />
        </binding>
        <binding name="CreditNotePortBinding" maxReceivedMessageSize="999999999" messageEncoding="Mtom">
          <security mode="Transport" />
        </binding>
        <binding name="SmmPortBinding" maxReceivedMessageSize="999999999" messageEncoding="Mtom">
          <security mode="Transport" />
        </binding>
        <binding name="EInvoiceWSPortBinding3" />
        <binding name="BasicHttpBinding_ISiparisServis" sendTimeout="08:50:00" maxReceivedMessageSize="640000000">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IUrunServis" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IUyeServis" />
        <binding name="BasicHttpBinding_ICustomServis" />
      </basicHttpBinding>
      <customBinding>
        <binding name="MusteriKargoSiparisSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://connector.doganedonusum.com:443/AuthenticationWS" binding="basicHttpBinding" bindingConfiguration="AuthenticationPortBinding" contract="AuthenticationWS.AuthenticationServicePort" name="AuthenticationPort" />
      <endpoint address="https://connector.doganedonusum.com:443/CreditNoteWS/CreditNote" binding="basicHttpBinding" bindingConfiguration="CreditNotePortBinding" contract="CreditNoteWS.CreditNoteServicePort" name="CreditNotePort1" />
      <endpoint address="https://connector.doganedonusum.com:443/EIArchiveWS/EFaturaArchive" binding="basicHttpBinding" bindingConfiguration="EFaturaArchivePortBinding" contract="EArchiveInvoiceWS.EFaturaArchivePort" name="EFaturaArchivePort" />
      <endpoint address="https://connector.doganedonusum.com:443/EInvoiceWS" binding="basicHttpBinding" bindingConfiguration="EInvoiceWSPortBinding" contract="EInvoiceWS.EInvoiceWSPort" name="EInvoiceWSPort1" />
      <endpoint address="https://connector.doganedonusum.com:443/EIrsaliyeWS/EIrsaliye" binding="basicHttpBinding" bindingConfiguration="EIrsaliyeServicePortBinding" contract="EIrsaliyeWS.EIrsaliyeServicePort" name="EIrsaliyeServicePort1" />
      <endpoint address="https://connector.doganedonusum.com:443/SmmWS" binding="basicHttpBinding" bindingConfiguration="SmmPortBinding" contract="SmmWs.SmmServicePort" name="SmmPort1" />
      <endpoint address="http://imza.com.tr/Servis/SiparisServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiparisServis" contract="SiparisServis.ISiparisServis" name="BasicHttpBinding_ISiparisServis" />
      <endpoint address="https://misigo.com/Servis/UrunServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUrunServis" contract="UrunServis.IUrunServis" name="BasicHttpBinding_IUrunServis" />
      <endpoint address="http://misigo.com/Servis/UyeServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUyeServis" contract="UyeServis.IUyeServis" name="BasicHttpBinding_IUyeServis" />
      <endpoint address="http://misigo.com/Servis/CustomServis.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomServis" contract="CustomServis.ICustomServis" name="BasicHttpBinding_ICustomServis" />
      <endpoint address="http://service.mngkargo.com.tr/musterikargosiparis/musterikargosiparis.asmx" binding="customBinding" bindingConfiguration="MusteriKargoSiparisSoap12" contract="MngKargo.MusteriKargoSiparisSoap" name="MusteriKargoSiparisSoap12" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>